@model MovieRex.Models.Account
<h1 style="padding-top: 100px">My Account</h1>
<div class="row ">
    <div class="col-lg-7 col-md-12 m-2">
        <div class="card" style="min-height: 485px; background-color:black">
            <div class="card-header card-header-text">
                <h4 class="card-title">@Html.DisplayFor(model => model.UserName)</h4>                
            </div>
            <div class="card-content table-responsive">
                <div>                    
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                    </dl>
                </div>                
            </div>
        </div>
    </div>
</div>