@model MovieRex.Models.Movie
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h1 class="m-4">Delete</h1>
<div class="row ">
    <div class="col-lg-12 col-md-12">
        <div class="card" style="min-height: 485px">
            <div class="card-header card-header-text">
                <h4 class="card-title">Movie</h4>
                @*<p class="category"></p>*@
            </div>
            <div class="card-content table-responsive">
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>Movie</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.OverView)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.OverView)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Backdrop_Path)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Backdrop_Path)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Release_Date)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Release_Date)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Vote)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Vote)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Country)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Limit_Age)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Limit_Age)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Duration)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Duration)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="MovieID" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>



